<div class="container mx-auto max-w-lg bg-white p-12 pt-6 shadow rounded">
    
    <h1 class="text-2xl "> Welcome Back!</h1>
    <%= form_for :login do |f| %>
        
        <%= f.label :email, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :email, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :password, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.password_field :password, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= 
            f.submit 'Log In', 
            class: 'block w-full cursor-pointer bg-green-500 shadow hover:bg-green-600 text-white py-2 px-4 leading-tight focus:outline-none focus:shadow-outline mt-6'
        %>
    <% end %>

    <br>

    <a href="/users/new" class="text-blue-500 hover:text-blue-300 text-sm">Don't have an account? Sign Up here!</a>

    <br>

    <% if flash[:error] %>
        <div class="mt-4 bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
            <p class="text-sm text-red-700"> <%= flash[:error] %> </p>
            <p class="mt-2 text-sm"> <a href="/users/new" class="text-blue-500 hover:text-blue-300 text-sm"> Forgot your password? </a> </p>
        </div>
    <% end %>

</div>