<h1 class="ml-5">Take a look at some of our favorite cards!</h1>

<div class="m-4 grid grid-cols-4 gap-4">
  <% @credit_card.each do |credit_card| %>
    <div class="col-span-1 m-2 p-4 border rounded border-gray-400 bg-gray-200">
      
      <div class="text-center">
        <p class="text-blue-500 hover:text-blue-300 font-semibold"><%= link_to "#{credit_card.card_name.titlecase}", credit_card_path(credit_card.handle) %></p>
      </div>

      <div class="">
        <img class="mt-4 mb-2 h-full w-64 object-contain object-center rounded shadow-lg" src="<%="img/cards/#{credit_card.handle}.png"%>" alt="<%= "#{credit_card.handle}"%>">
      </div>

      <div class="text-gray-700 p-4">
        <p class="text-gray-800 font-semibold"><%= "Annual Fee: #{humanized_money_with_symbol(credit_card.annual_fee)}" %></p>
      </div>

      <div class="text-gray-700 p-4">
        <h1 class="text-gray-800 font-semibold mb-2">Points & Rewards</h1>
        <% major_rewards = [6,5,4,3,2] %>
        <% if credit_card.rewards_category=='cash_back' %>
          <% major_rewards.each do |reward| %>
            <% credit_card.categories.each do |category| %>
              <% if credit_card.public_send(category)==reward %>
              <p class="text-base"> <%= "#{credit_card.public_send(category).to_s.sub(/.0/,'')}% #{credit_card.rewards_category.sub(/_/,' ').titlecase}"%> on <%=category.to_s.titlecase%> </p>
              <% end %>  
            <% end %>
          <% end %>
          <p class="text-base"> <%= "#{credit_card.other.to_s.sub(/.0/,'')}% #{credit_card.rewards_category.sub(/_/,' ').titlecase}"%> on All Other Purchases </p>
        <% else %>
          <% major_rewards.each do |reward| %>
            <% credit_card.categories.each do |category| %>
              <% if credit_card.public_send(category)==reward %>
              <p class="text-base"> <%= "#{credit_card.public_send(category).to_s.sub(/.0/,'')}X #{credit_card.rewards_category.sub(/_/,' ').titlecase}"%> on <%=category.to_s.titlecase%> </p>
              <% end %>  
            <% end %>
          <% end %>
          <p class="text-base"> <%= "#{credit_card.other.to_s.sub(/.0/,'')}X #{credit_card.rewards_category.sub(/_/,' ').titlecase}"%> on all Purchases </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<% if current_user && current_user.is_admin %>
  <table class="border-b-2 border-t-2 border-black">
    <tr class="">
      <th class="text-sm text-center border-b-2 border-l-2 border-black bg-green-200" colspan="1"></th>
      <th class="text-sm text-center border-b-2 border-black bg-green-200" colspan="2">Card Details</th>
      <th class="text-sm text-center border-black bg-green-200"></th>
      <th class="text-sm text-center border-b-2 border-black bg-green-200" colspan="13">Rewards Categories</th>
      <th class="text-sm text-center border-b-2 border-r-2 border-black bg-green-200" colspan="2"></th>
    </tr>
    <tr class="">
      <th class="px-2 py-4 text-sm text-left bg-gray-100 border-b border-l-2 border-black"><div class="border-gray-100">Card Name</div></th>
      <th class="text-sm bg-gray-100 border-b border-black">Annual Fee</th>
      <th class="text-sm bg-gray-100 border-b border-black">Signup Bonus</th>
      <th class="px-1 text-sm bg-gray-100 border-b border-black"></th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Gas</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Transit</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Rideshare</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Entertainment</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Streaming</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Dining</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Grocery</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Drugstore</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Department Store</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Clothing</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Travel</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Hotel</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-black">Other</th>
      <th class="px-2 text-sm bg-gray-100 border-b border-r-2 border-black" colspan="2"></th>
    </tr>
  
    <% @credit_card.each do |credit_card| %>
      <tr class="">
        <td class="py-3 px-2 text-sm text-left bg-white border-b border-l-2 border-gray-400 font-semibold text-blue-500 hover:text-blue-300"> <%= link_to "#{credit_card.card_name.titlecase}", credit_card_path(credit_card.handle) %> </td>     
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= humanized_money_with_symbol(credit_card.annual_fee) %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= humanized_money_with_symbol(credit_card.signup_bonus) %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"></td>
        <td class="px-3 text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.gas.to_s.sub(/.0/,'') %> </td>
        <td class="px-3 text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.transit.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.rideshare.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.entertainment.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.streaming.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.dining.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.grocery.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.drugstore.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.department_store.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.clothing.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.travel.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.hotel.to_s.sub(/.0/,'') %> </td>
        <td class="text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.other.to_s.sub(/.0/,'') %> </td>
        <td class="px-2 text-sm text-center bg-white border-b border-gray-400 text-blue-500 hover:text-blue-300 "> 
        <% if current_user && current_user.is_admin %>
          <%= link_to 'Edit', edit_credit_card_path(credit_card.handle) %>
        <% end %> </td>
        <td class="px-2 text-sm text-center bg-white border-b border-r-2 border-gray-400 text-blue-500 hover:text-blue-300 "> 
        <% if current_user && current_user.is_admin %>
          <%= link_to 'Delete', credit_card_path(credit_card.handle),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
<% if current_user && current_user.is_admin %>
  <%= link_to 'Enter a new card', new_credit_card_path, class: "text-blue-500 hover:text-blue-300 text-base" %>
<% end %>

<% 
=begin %>
<td class="px-2 text-sm text-center bg-white border-b border-gray-400"> <%= credit_card.card_category.capitalize %> </td>
      <td class="text-sm text-center bg-white border-b border-gray-400"> <%= if credit_card.card_network == "visa" then credit_card.card_network.capitalize 
        elsif credit_card.card_network == "amex" then "AmEx"
        elsif credit_card.card_network == "mastercard" then credit_card.card_network.capitalize
        else credit_card.card_network.capitalize
        end %> </td>



<div>
  <p>Rewards Breakdown</p>
</div>
<div class="container">  
  <div class="flex flex-no-wrap">
    <div class="px-30 py-2 bg-green-200 border"><p class="text-sm font-bold">Credit Card</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Gas</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Transit</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Rideshare</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Entertainment</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Streaming</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Dining</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Grocery</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Drugstore</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Department Store</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Clothing</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Travel</p></div>
    <div class="px-4 py-2 bg-green-200 border "><p class="text-sm font-bold">Other</p></div>
  </div>

<% @credit_card.each do |credit_card| %>
  <div class="flex">
    <div class="px-24 py-2 bg-white-200 border"> <p class="text-sm text-blue-500 hover:text-blue-300"> <%= link_to credit_card.card_provider.to_s.capitalize + " " + credit_card.card_name, credit_card_path(credit_card)  %></p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.gas %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.transit %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.rideshare %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.entertainment %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.streaming %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.dining %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.grocery %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.drugstore %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.department_store %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.clothing %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.travel %> </p></div>
    <div class="px-4 py-2 bg-white-200 border"> <p class="text-sm"> <%= credit_card.other %> </p></div>
  </div>
<% end %>
</div>
<%
=end %>
