<div class="container mx-auto max-w-lg bg-white p-12 pt-6 shadow rounded">
    <h1 class="text-2xl ">Enter Card Information</h1>
    <%= form_with model:@credit_card do |f| %>
        
        <%= f.label :card_provider, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :card_provider, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :card_name, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :card_name,
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :card_network, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.select :card_network, options_for_select([["VISA", :visa], ["AMEX", :amex], ["MasterCard", :mastercard], ["Discover", :discover]]),
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :card_category, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.select :card_category, options_for_select([["Cash Back", :cash_back], ["Rewards", :rewards]]),
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :annual_fee, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :annual_fee, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
            value: number_with_precision(0, precision: 0, delimiter: ','),
            placeholder: '$' 
        %>

        <%= f.label :signup_bonus, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :signup_bonus, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
            value: number_with_precision(0, precision: 0, delimiter: ',')
        %>

        <%= f.label :signup_bonus_spending_requirement, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :signup_bonus_spending_requirement, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
            value: number_with_precision(0, precision: 0, delimiter: ','),
            placeholder: '$' 
        %>

        <%= f.label :gas, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :gas, value: 1, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :transit, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :transit, value: 1, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :rideshare, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :rideshare, value: 1, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :entertainment, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :entertainment, value: 1,
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :streaming, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :streaming, value: 1,
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :dining, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :dining, value: 1,
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :grocery, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :grocery, value: 1, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :drugstore, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :drugstore, value: 1, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :department_store, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :department_store, value: 1, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :clothing, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :clothing, value: 1, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :travel, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :travel, value: 1,
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= f.label :other, class: 'block font-bold mt-4 mb-2' %>
        <%= 
            f.text_field :other, value: 1, 
            class: 'block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        %>

        <%= 
            f.submit 'Submit', 
            class: 'block w-full cursor-pointer bg-green-500 shadow hover:bg-green-600 text-white py-2 px-4 leading-tight focus:outline-none focus:shadow-outline mt-6'
        %>
    <% end %>
    <br>
    <% if @credit_card.errors.any? %>
        <div id="error_explanation" class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
            <h2><%= pluralize(@credit_card.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul> 
                <% @credit_card.errors.full_messages.each do |msg| %>
                <li class="text-sm text-red-700"><%=msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    


</div>